[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=
GenericName[pt_BR]=
GenericName=
Icon=system-run
MimeType=
Name[pt_BR]=Atalho para aplicativo
Name=Atalho para aplicativo
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
